body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    height: 80%;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
}

p a {
    text-decoration: underline;
    color: #333;
}

.navigation,
.social-links {
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
    /* New - remove padding from lists */
    list-style: none !important;
    /* New - remove list markers */
}

.navigation a.current {
    font-weight: bold; /* This will make the text bold */
}

.press-header {
    color: #aaa; /* Light grey color */
    margin-top: 0px;
    margin-bottom: 0px; /* Spacing between the header and the links */
    font-size: 12px; /* Match the size of your press links or adjust as necessary */
    /* Add any other styles you need for this header */
}

.navigation a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px !important;
}

.social-links a {
    margin-right: 15px;
    text-decoration: underline;
    color: #333;
    font-size: 15px !important;
}

.navigation a:hover,
.social-links a:hover {
    color: #666;
    /* New - color change on hover */
}

.social-links {
    margin-top: 35px;
}

.press-links a {
    font-size: 16px;
    /* Different size for press links */
    margin-bottom: 15px;
    text-decoration: none;
    color: #333;
    display: block;
    /* Each link on a new line */
}

.press-links a:hover {
    color: #666;
    /* New - color change on hover */
}

.navigation a:last-child {
    margin-right: 0;
}

.press-links a {
    display: block;
    margin-bottom: 10px;
}

.press-links a:last-child {
    margin-bottom: 10;
}

p {
    line-height: 1.6;
}

@media (max-width: 600px) {
    .container {
        width: calc(100% - 40px);
    }

    .navigation a,
    .social-links a {
        margin-right: 10px;
    }
}