.tag-button {
    background-color: #343331; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 0.8em;
    border-radius: 2px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.tag-button:hover {
    background-color: #534F4C; /* Darker green on hover */
}

.tag-button.inactive {
    background-color: #CDCDC3; /* Grey background */
    color: #666666; /* Darker text */
    cursor: default; /* Change cursor to indicate inactive state */
}

/* Twitter-like thread styles */
.twitter-thread {
    margin: 20px;
    padding: 10px;
}

.tweet {
    padding: 10px;
    /* padding-top: 15px; */
    padding-top: 20px;

    padding-bottom: 20px;
    border-bottom: 1px solid #e1e8ed;
}

.tweet:last-child {
    border-bottom: none;
}

.tweet-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #657786;
}

.tweet-author {
    font-weight: bold;
    color: #14171a;
}

.tweet-time {
    color: #657786;
}

.tweet-content {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* .tweet-interaction {
    display: flex;
    justify-content: space-around;
    font-size: 0.9em;
    color: #657786;
    margin-top: 10px;
} */


@media (max-width: 600px) {
    .twitter-thread {
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* In case I add tags to Tweets back. */
/*<div class="tweet-tags"><span class="tag">Learning</span></div>*/

.tweet-tags {
    margin-top: 10px; /* Space above the tag list */
    font-size: 0.8em; /* Smaller font size for tags */
    color: #555; /* Dark grey color for text */
}

.tag {
    background-color: #e0e0e0; /* Light grey background for tags */
    padding: 3px 6px; /* Padding inside the tag */
    border-radius: 2px; /* Rounded corners for tags */
    margin-right: 5px; /* Space between tags */
    display: inline-block; /* Display tags inline */
}
