html {
    font-family: 'Inter', sans-serif;
    background-color: #FFFCF0;
    color: #100F0F;
    transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark-mode {
    background-color: #100F0F;
    color: #CECDC3;
}

/* Temporarily disable transition on page load */
html.no-transition {
    transition: none !important;
}

a {
    color: #100F0F;
    text-decoration: underline;
}

.dark-mode a {
    color: #CECDC3;
}

a:hover {
    color: #205EA6;
}

.dark-mode a:hover {
    color: #4385BE;
}

h1 {
    font-size: 1.17em !important;
}

h2 {
    font-size: 1em !important;
}

.spaced li:not(:last-child) {
    margin-bottom: 15px;
    /* Adjust the value as needed */
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.inner {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 30vw;
        padding: 0;
    }
}