html {
    font-family: 'Inter', sans-serif;
    background-color: #FFFCF0;
    color: #100F0F;
    transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark-mode {
    background-color: #100F0F;
    color: #CECDC3;
}

/* Temporarily disable transition on page load */
html.no-transition {
    transition: none !important;
}

a {
    color: #100F0F;
    text-decoration: underline;
}

.dark-mode a {
    color: #CECDC3;
}

a:hover {
    color: #205EA6;
}

.dark-mode a:hover {
    color: #4385BE;
}

h1 {
    font-size: 1.17em !important;
}

h2 {
    font-size: 1em !important;
}

.spaced li:not(:last-child) {
    margin-bottom: 15px;
    /* Adjust the value as needed */
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    position: relative;
}

.inner {
    width: 100%;
}


.toc {
    position: fixed;
    left: 20px;
    top: 5vh;
    width: 200px;
    max-height: 90vh;
    overflow-y: auto;
    padding-right: 20px;
    font-size: 0.9em;
}

.toc ul {
    list-style: none;
    padding-left: 0;
}

.toc li {
    margin-bottom: 8px;
}

.toc a {
    color: inherit;
    text-decoration: none;
}

.toc a:hover {
    color: #205EA6;
}

.dark-mode .toc a:hover {
    color: #4385BE;
}

@media (min-width: 768px) {
    .container {
        width: 35vw;
        padding: 0;
    }
    
    .toc {
        left: calc((100vw - 35vw) / 2 - 220px);
    }
}

@media (max-width: 768px) {
    .toc {
        display: none;
    }
}